* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

#map {
  height: 100vh;
  width: 100vw;
}

nav {
  height: 50px;
  background-color: black;
  color: white;
  font-family: fantasy;
  font-size: 40px;
}

#master {
  display: flex;

}

#map{
  flex: 3;
}

#menu{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
}


#options{
  background-color: rgb(220, 239, 245);
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
}

#itinerary{
  background-color: beige;
  width: 100%;
  padding: 12px;

}

.outerSelect{
  display: flex;
  /* justify-content: space-evenly; */
}

.selectContainer{
  flex: auto;
  /* background-color: red; */
}

.buttonContainer{
  flex-basis: 30px;
  padding-left: 10px;
  /* background-color: blue; */
}

select{
  width: 100%;
}

#itinerary h2{
  font-style: italic;
  font-weight: bolder;
  font-family: Courier New;
}